# BEGIN AUTODEP GENERATED CONTENTS #
# These files are stored in blob storage, see the `[tool.applied_manage.blob_data]` section in the project's `pyproject.toml` file
assets/icon.png
assets/logo.png
# END AUTODEP GENERATED CONTENTS #
